.whatsapp-wave {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 30px;
}

.whatsapp-wave span {
  display: block;
  width: 8px;
  background: orange;
  border-radius: 50px;
  animation: waveAnim 1.2s ease-in-out infinite;
}

.whatsapp-wave span:nth-child(1) {
  animation-delay: 0s;
}
.whatsapp-wave span:nth-child(2) {
  animation-delay: 0.1s;
}
.whatsapp-wave span:nth-child(3) {
  animation-delay: 0.2s;
}
.whatsapp-wave span:nth-child(4) {
  animation-delay: 0.3s;
}
.whatsapp-wave span:nth-child(5) {
  animation-delay: 0.4s;
}
.whatsapp-wave span:nth-child(6) {
  animation-delay: 0.5s;
}
.whatsapp-wave span:nth-child(7) {
  animation-delay: 0.6s;
}
.whatsapp-wave span:nth-child(8) {
  animation-delay: 0.7s;
}
.whatsapp-wave span:nth-child(9) {
  animation-delay: 0.8s;
}
.whatsapp-wave span:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes waveAnim {
  0%,
  100% {
    height: 20%;
    opacity: 0.5;
  }
  50% {
    height: 100%;
    opacity: 1;
  }
}
